<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>movieCard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel="stylesheet" href="../public/css/movies.css">
</head>

<body>

  <div class="container mt-5" style="width: 40%">
    <div class="row justify-content-center">
     
      {{#each response.items}}
      <div class="card movie_card">
        <img src={{this.image}} class="card-img-top" alt="..." />
        <div class="card-body">
          <a href="/record?mid={{this.id}}">
          <i class="fas fa-save" data-toggle="tooltip" data-placement="bottom" title="save">
          </i></a>
          <h5 class="card-title">{{this.title}}</h5>
          <span class="movie_info">{{this.year}}</span>
          <span class="movie_info float-right"><i class="fas fa-star"></i>
            {{this.imDbRating}}</span>
        </div>
      </div>
      {{/each}}
    

    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
    $(function () { $('[data-toggle="tooltip"]').tooltip() })

  </script>
</body>

</html>